.show-page
  .show-page__container
    .show-page__container__header
      %h1.show-page__container__header__text 詳細ページ
    .show-page__container__main
      .show-page__container__main__image
        = image_tag @tweet.image.url, class:"show-page__container__main__image__images"
      .show-page__container__main__text
        .show-page__container__main__text__lists
          %h2 トレーニング名：#{@tweet.name}
        .show-page__container__main__text__lists
          %h2 トレーニング内容：#{@tweet.text}


    