.search
  = form_with(url: search_users_path, local: true, method: :get, class: "search-form") do |f|
    = f.text_field :keyword, placeholder: "ユーザー検索", class: "search__form"
    = button_tag type: 'submit', class: "search__submit" do
      %i.fas.fa-search
