// tweets

.contents {
  background-color: whitesmoke;
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.content_tweet {
  border: 1px solid #ccc;
  margin-bottom: 50px;
  background-color: white;

  &__header {
    height: 50px;
    width: 100%;
    padding: 0 20px;
    // background-color: yellow;
    display: flex;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;

    &__right {
      display: flex;

      &__image {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        margin-top: 7px;
      }
      &__image:hover {
        opacity: 0.7;
      }
  
      &__nickname {
        line-height: 50px;
        margin-left: 10px;
      }
    }

    &__other {
      margin-right: 40px;
      font-size: 24px;
      line-height: 50px;
      width: 60px;
      height: 100%;
      text-align: center;
    }

  }
}


.scroll {
  margin: 15px 0;
  width: 700px;
  height: calc(100vh - 150px);
  overflow: hidden;
  overflow-y: scroll;
  // border: 2px solid #ccc;
  
}

.content_post {
  margin: 0 20px 20px 20px;
  width: 660px;
  height: 400px;
  object-fit: cover;
  color: red($color: #000000);

  &__image {
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    outline: none;
  }
}

.content_text {
  width: 660px;
  margin: 20px;
  display: flex;
  flex-direction: column;

}

.content_like {
  margin: 0 20px;
}

.name {
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.text {
  border: 2px solid #ccc;
  border-radius: 5px;
}
// new

.container {
  margin: 15px;
  width: 600px;
  height: calc(100vh - 154px);
}


.new_title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.input {
  display: flex;
  flex-direction: column;
  .title {
    width: 100%;
    margin-bottom: 20px;
  }
  .textarea {
    width: 100%;
    height: 300px;
    resize: none;
  }
}
.image {
  margin: 20px 0;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  input {
    display: none;
  }
}


.fa-image {
  font-size: 24px;
  margin-right: 10px;
  display: none;
}

.submit {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-size: 18px;
  .submit_list {
    margin: 10px;
    padding: 10px;
    background-color: rgb(155, 153, 153);
    color: white;
    border: none;
    border-radius: 3px;
    outline: none;
  }
  .submit_list:hover {
    opacity: 0.8;
  }
}

.img-sel:hover {
  opacity: 0.7;
}

 
  
.select {
  outline: none;
}
// ドロップダウン記述

.menu li {
  position: relative;
  z-index: 20;
}

.menu li a {
  display: block;
  background: rgb(138, 137, 137);
  line-height: 40px;
  font-size: 18px;
  border-radius: 3px;
}

.menu li a:hover {
  background: rgb(185, 185, 185);
  transition: 0.5s;
}

.menu li:hover > ul {
  display: block;
}

.menu ul {
  display: none;
  position: absolute;
  top: 38px;
  right: 10px;
  width: 80px;
}


// 編集、削除後遷移ページの記述

.contents {
  width: 100%;
  height: calc(100vh - 120px);
}

.success {
  margin: 60px auto;
  width: 80%;
  height: 200px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #b3b2b2;
}

.success-text {
  font-size: 25px;
  color: rgb(44, 43, 43);
  margin: 30px 30px 40px 30px;
}

.success-button {
  font-size: 20px;
  color: rgb(2, 200, 250);
  border: 2px solid rgb(2, 200, 250);
  border-radius: 5px;
  padding: 15px 50px;
}

.success-button:hover {
  background-color: rgb(224, 250, 249);
  transition: 0.8s;
}


// 詳細ページの記述

.show-page {
  width: 100%;
  height: calc(100vh - 120px);
  text-align: center;

  &__container {
    width: 80%;
    margin: 0 auto;
    // background-color: rgb(2, 200, 250);
    
    &__header {
      width: 100%;
      height: 60px;
      margin: 0 auto;
      border-bottom: 2px solid rgb(173, 173, 173);

      &__text {
        line-height: 60px;
        font-size: 30px;
        color: rgb(34, 34, 34);
      }
    }
    
    &__main {
      overflow: scroll;
      margin-top: 30px;
      width: 100%;
      height: calc(100vh - 210px);
      &__image {
        width: 80%;
        height: 400px;
        margin: auto;
        object-fit: cover;
        box-shadow: 0px 0px 8px rgb(170, 168, 168);
        border-radius: 5px;
        
        &__images {
          width: 90%;
          height: 400px;
          object-fit: contain;
          outline: none;
        }
      }
      &__like {
        width: 80%;
        margin: auto;
        text-align: start;
        padding: 10px 0;
      }
      &__text {
        margin: 20px auto;
        text-align: center;

        &__lists {
          width: 80%;
          border: rgb(185, 183, 183) 2px solid;
          border-radius: 10px;
          margin: 0 auto 10px;
          text-align: start;
          padding: 3px 5px;
        }
      }

      &__comments {
        margin: 20px auto;
        width: 80%;

        &__lists {
          margin-bottom: 20px;

          &__list {
            font-size: 24px;
            border-bottom: 2px solid rgb(170, 170, 170);
            padding-bottom: 10px;
          }

          &__main {
            padding: 20px 10px;
            text-align: left;

            &__link {
              color: black;
            }
          }
        }
        &__form {
          text-align: end;

          &__textarea {
            width: 100%;
            height: 30px;
            resize: none;
            outline: none;
            border: none;
            border-bottom: 2px solid black;
            font-size: 18px;
          }

          &__submit {
            padding: 0 10px;
            position: relative;
            bottom: 35px;
            font-size: 18px;
            background-color: white;
            border: none;
            cursor: pointer;
            outline: none;
          }
          &__submit:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}