-# %h2 ログイン
-# = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
-#   -# .login-flash-message
-#   -#   = flash[:alert]
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     %br/
-#     = f.password_field :password, autocomplete: "current-password"
-#   - if devise_mapping.rememberable?
-#     .field
-#       = f.check_box :remember_me
-#       = f.label :remember_me
-#   .actions
-#     = f.submit "Log in"
-# -# = render "devise/shared/links"


-# ログインモーダル表示
.modal
  .sign_modal_wrapper
  .sign_modal_sign-in
    .sign_modal_sign-in__view
      .sign_in_modal.sign_modal_content
      = flash[:alert]
      %i.fa.fa-2x.fa-times
      %h2.modal-header ログインフォーム
      %form.new_login{"accept-charset" => "UTF-8", :action => "/users/sign_in", :method => "post"}
        %input{:name => "utf8", :type => "hidden", :value => "✓"}/
        %input{:name => "authenticity_token", :type => "hidden", :value => "oHLlAj0JDR0syLFJq8pvBZgP3Tf2VBOuOl5VCtX7PkCHoBYqWAzU0+4Jy9zYT3kVMvzGwQ1/TTBeud1NLIX/xA=="}/
        .field
          %label{:class => "field__label", :for => "user_email"} メールアドレス
          %br/
          %input{:class => "field__input", :autocomplete => "email", :autofocus => "autofocus", :name => "user[email]", :type => "email", :value => ""}/
        .field
          %label{:class => "field__label", :for => "user_password"} Password
          %br/
          %input{:class => "field__input", :autocomplete => "current-password", :name => "user[password]", :type => "password"}/
        .remenber
          %input{:name => "user[remember_me]", :type => "hidden", :value => "0"}/
          %input{:name => "user[remember_me]", :type => "checkbox", :value => "1"}/
          %label{:for => "user_remember_me"} パスワードを記憶する
        .actions
          %input{:class => "actions__submit", "data-disable-with" => "ログイン", :name => "commit", :type => "submit", :value => "ログイン", id: 'submit'}/