-# ビデオ再生
= video_tag 'top-movie.mp4', autoplay: true, loop: true, muted: true, class: 'content__box__video'

.Header
  .Header__container
    .Header__log
      %a(href="/tweets") MuscleBot
    .Header__lists
      %ul
        %li.Header__list
          %a(href="#") ログイン
        %li.Header__list
          %a(href="#") 新規登録
        -# %li.Header__list
        -#   %a(href="#") 閲覧ページ
        -# %li.Header__list
        -#   %a(href="#") チャット

-# タイピング
.typing
  .typed_wrap
    %h1
      %span.typed 

-# おすすめの筋トレ
-# %section.update
-#   .C_container
-#     .title
-#       %h2 
-#         %span.sub PHOTO
-#         おすすめの筋トレ
-#     .P_container
-#       .line1
-#         .image
-#           .P_table.image1
-#             %span
-#             .name_container
-#               %h4 トトログさん
-#               %p 腹筋
-#         .image
-#           .P_table.image2
-#             %span
-#             .name_container
-#               %h4 トトログさん
-#               %p 腹筋
-#         .image
-#           .P_table.image3
-#             %span
-#             .name_container
-#               %h4 トトログさん
-#               %p 腹筋
-#       .line2
-#         .image
-#           .P_table.image4
-#             %span
-#             .name_container
-#               %h4 トトログさん
-#               %p 腹筋
-#         .image
-#           .P_table.image5
-#             %span
-#             .name_container
-#               %h4 トトログさん
-#               %p 腹筋
-#         .image
-#           .P_table.image6
-#             %span
-#             .name_container
-#               %h4 トトログさん
-#               %p 腹筋
